---
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import Layout from "../layouts/Layout.astro";
import type { clothesItem } from "../closet/src/utils/types";

const auth = getAuth(app);

/* Check current session */
if (!Astro.cookies.has("session")) {
  return Astro.redirect("/signin");
}
const sessionCookie = Astro.cookies.get("session")!.value;
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  return Astro.redirect("/signin");
}

// gets the users email
const email = user.email?.toString();

// creating a form of todays date
const date = new Date();
const todaysDate = {
  year: date.getFullYear(),
  month: date.getMonth() + 1,
  day: date.getDate(),
};

// gets the users clothes items
const baseUrl = new URL(Astro.request.url).origin;
const dataRequest = await fetch(
  `${baseUrl}/api/clothesManagement/getOutfit?email=${email}`,
  {
    method: "GET",
    headers: {
      "Content-Type": "application/json",
      "date-Value-Year": `${todaysDate.year}`,
      "date-Value-Month": `${todaysDate.month}`,
      "date-Value-Day": `${todaysDate.day}`,
    },
  }
);

if (!dataRequest.ok) {
  console.log("you made an oopies");
  console.log(dataRequest.status);
  return;
}

const data = await dataRequest.json();
const outfit = data.outfit;
---

<Layout title="OOTD">
  <h1>Welcome {user.displayName}</h1>
  <p>We are happy to see you here</p>

  <form action="/addToCloset">
    <button type="submit">Add to Closet</button>
  </form>

  <form action="/closet">
    <button type="submit">Go to Closet</button>
  </form>

  <form action="/selectTodaysOOTD">
    <button type="submit">Todays Outfit</button>
  </form>

  <form action="/api/auth/signout">
    <button type="submit">Sign out</button>
  </form>

  <h1>TODAYS OUTFIT</h1>

  {
    outfit &&
      outfit.map((item: clothesItem) => (
        <div>
          <h2>{item.type}</h2>
          <img src={item.photoLink} alt={item.type} />
        </div>
      ))
  }
</Layout>
